<html>
    <style>
        html {
            font-family: 'microsoft yahei', sans-serif;
        }
    </style>
    <h1>给你一个服务</h1>
    <ul>
        <li><a href="http://localhost:3000/cat">http://localhost:3000/cat</a></li>
        <li><a href="http://localhost:3000/login?username=guozb&password=123456">这个登录会成功</a></li>
        <li><a href="http://localhost:3000/login?username=gzb&password=123">这个登录就不会成功</a></li>
    </ul>
</html>